---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const pets = await getCollection("pets");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                width: 960px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                width: calc(90% - 1rem);
            }
            ul li * {
                text-decoration: none;
                transition: 0.2s ease;
            }
            /* ul li div {
                display: block;
            } */
            .info {
                float: left;
                width: 48%;
            }
            .links {
                float: right;
                width: 42%;
                text-align: right;
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
            }
            .date {
                margin: 0;
                color: rgb(var(--gray));
                text-align: left;
            }
            .stack {
                margin-top: 0.5em;
            }
            .description {
                width: 100%;
                float: left;
            }
            ul li a:hover h4,
            ul li a:hover .date {
                color: rgb(var(--accent));
            }
            ul a:hover img {
                box-shadow: var(--box-shadow);
            }
            @media (max-width: 720px) {
                ul {
                    gap: 0.5em;
                }
                ul li {
                    width: 100%;
                }
            }
            @media (max-width: 1020px) {
                .info {
                    width: 98%;
                }
                .links {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <ul>
                    {
                        pets.map((project) => (
                            <li>
                                <a href={project.data.links.github}>
                                    <h1 class="title">#{project.data.name}</h1>
                                </a>

                                <div class="info">
                                    <h4 class="stack">
                                        {project.data.stack.join(", ")}
                                    </h4>
                                    <p class="date">
                                        {project.data.dates[0]} -
                                        {project.data.dates[1]}
                                    </p>
                                </div>
                                <div class="links">
                                    <h5>
                                        <a href={project.data.links.github}>
                                            github repo
                                        </a>
                                    </h5>
                                    {project.data.links.colab && (
                                        <h5>
                                            <a href={project.data.links.colab}>
                                                google colab
                                            </a>
                                        </h5>
                                    )}
                                    {project.data.links.plutos && (
                                        <h5>
                                            <a href={project.data.links.plutos}>
                                                pluto notebook
                                            </a>
                                        </h5>
                                    )}
                                    {project.data.links.juliahub && (
                                        <h5>
                                            <a href={project.data.links.juliahub}>
                                                juliahub
                                            </a>
                                        </h5>
                                    )}
                                    {project.data.links.crates && (
                                        <h5>
                                            <a href={project.data.links.crates}>
                                                crates.io
                                            </a>
                                        </h5>
                                    )}
                                    {project.data.links.pypi && (
                                        <h5>
                                            <a href={project.data.links.pypi}>
                                                pypi
                                            </a>
                                        </h5>
                                    )}
                                    {project.data.links.docs && (
                                        <h5>
                                            <a href={project.data.links.docs}>
                                                docs
                                            </a>
                                        </h5>
                                    )}
                                    {project.data.links.guide && (
                                        <h5>
                                            <a href={project.data.links.guide}>
                                                guide
                                            </a>
                                        </h5>
                                    )}
                                </div>
                                <p class="description">
                                    {project.data.description}
                                </p>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
